.comment{float:left; display:none;  margin: 10px 0; padding: 5px;background-color: #ffffff;  border-radius: 3px;  box-shadow: 0 1px 1px rgba(0,0,0,.15);  list-style-type: none;}
.comment-form{float:left;display:none;}
.comments{display:none;}