.navbar{  margin-bottom: 0px;}
.navbar .brand {  color: white !important;  text-shadow:none;}
.navbar .btn-navbar{ margin-right: 30px;}
.navbar-inner{position: fixed; top: 0; left: 0; z-index: 5;width: 100%;padding: 0;background: #65D500; border-radius: 0; border: 0;}
.nav a{  color: white;}
@media (max-width: 600px) {
  .navbar .nav-collapse .nav.pull-right { height: 400px;    margin-left: 205px;    margin-top: 50px;  }
}
.navbar .btn-navbar{   display: block;  }