.share{ width:100%; height: 50px; float:left; border-bottom: 1px solid lightgrey;}
.share-list{  padding: 0;list-style-type:none;  height:100px;width:100%;}
.share-list__item{  display:inline-block;  width: 25%;  float:left;}
.share-buttons{width: 100%;}
.share-buttons a { &:hover{color:white !important;} float: left;  width: 25%;  padding: 0; }
.share-bg{ background-color: #65D500 !important; color: white;}
.fa{  width: 100%;
  text-align: center;
}