.add-to-favorite{  position: relative;  float: right;  top: 39px;  width: 60px;  height: 50px;  z-index: 9999999999;  right: 50px;}
.add-to-favorite--added{&:extend(.add-to-favorite);
  .fa{    color:#7ED321;  }
}
.button__add-to-favorite{font-size: 30px;  color: #7ED321;  height: 25px;  float: right;  top: 3px;  right: 1px;  position: absolute;  z-index: 1;  width: 25px;  padding: 4px;}
.favorite-icon {    color: #7ED321;  height: 65px;  margin: 0 20px;  float: right;  bottom: -14px;  line-height: 89px;  right: -5px;  position: absolute;  width: 100px;  z-index: 999999;  border-radius: 100%;}
.favorite-icon>i{font-size:22px;}
.fa--pressed > i{  color:#7ED321;}
.add-to-favorite__message{ color:lightgrey; text-align:center; margin:10px;position:relative;}