<template name="curatorsList">
    {{>nav}}
        <div id="post-list" class="post-list--curators">
            {{#each curators}}
                <div class="curator">
                    <a href="{{pathFor 'curatorProfile'}}">
                        <div class="curator__thumb"><div class="curator__thumb-image"><i class="fa fa-user curator-fa"></i></div></div>
                        <div class="curator__info">
                            <div class="curator__name">{{user.username}}</div>
                            <div class="curator__location">The NetherRealm</div>
                        </div>
                    </a>
                    <div class="curator__follow-button">
                        <div class="plus-icon"><i class="fa fa-plus"></i></div>
                        <div class="plus-icon"><i class="fa fa-chevron-right"></i></div>
                    </div>
                </div>
            {{/each}}
        </div>
</template>