<template name="footer">
    <footer class="footer-bar">
        <ul class="footer-bar__list">
            <li class="footer-bar__list-item">
                <div id="sorts" class="button-group">
                    <button class="nearby-button" data-sort-by="nearby">nearby</button>
                </div>
            </li>
            <li class="footer-bar__list-item">search
                <input type="text" placeholder="project title">
            </li>
            <!--<li class="footer-bar__list-item">filter</li>-->
            <!--<li class="footer-bar__list-item">more</li>-->
        </ul>
    </footer>
</template>