<template name="footer">
    <footer class="footer-bar">
        <ul class="footer-bar__list">
            <li class="footer-bar__list-item">
                <div id="sorts" class="button-group">
                    <button class="nearby-button" data-sort-by="nearby">nearby</button>
                </div>
            </li>
            <li class="footer-bar__list-item">
                <button>search</button>
                <!--<form>-->
                    <!--<input type="text" name="title" placeholder="input title project" />-->
                    <!--<input type="submit" />-->
                <!--</form>-->
                <!--<input class="search-bar" type="text" placeholder="project title">-->
            </li>
            <li class="footer-bar__list-item" >
                <button>filter</button>
            </li>
            <li class="footer-bar__list-item" >
                <a href="{{pathFor 'addNewProject'}}"><button>add</button></a>
            </li>
            <!--<li class="footer-bar__list-item">filter</li>-->
            <!--<li class="footer-bar__list-item">more</li>-->
        </ul>
    </footer>
</template>