<template name="footer">
    <footer class="footer-bar">
        <ul class="footer-bar__list">
            <!--<li class="footer-bar__list-item">-->
                <!--<div id="sorts" class="button-group">-->
                    <!--<button class="nearby-button" data-sort-by="nearby">nearby</button>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="footer-bar__list-item">-->
                <!--<button>search</button>-->
                <!--&lt;!&ndash;<form>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" name="title" placeholder="input title project" />&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="submit" />&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="search-bar" type="text" placeholder="project title">&ndash;&gt;-->
            <!--</li>-->
            <!--<li class="footer-bar__list-item" >-->
                <!--<button class="load-more__button"> load more</button>-->
            <!--</li>-->
            <li class="footer-bar__list-item" >
                <a href="{{pathFor 'addNewProject'}}"><button>add</button></a>
            </li>
            <!--<li class="footer-bar__list-item">filter</li>-->
            <!--<li class="footer-bar__list-item">more</li>-->
        </ul>
    </footer>
</template>