<template name="navFooter">
        <div class="account">
        <ul class="nav-footer__list">
                <a href="/nearby"><li class="account-info"><i class="fa fa-th-list"><h4>Homepage</h4></i></li></a>
                <a href="/profile/{{userID}}"><li class="account-info"><i class="fa fa-user"><h4>Profile</h4></i></li></a>
                <li class="account-info"><i class="fa fa-search"><h4>Search</h4></i>
                    {{>searchInput}}
                </li>
                <li class="account-info"><i class="fa fa-times"><h4>Close menu</h4></i></li>
            </ul>
        </div>
</template>