<template name="nav">
    {{#unless intro}}
        <section  class="nav-container">
            <ul class="nav">
                <li class="back-button"><h4><i class="large mdi-navigation-chevron-left"></i></h4></li>
                <li class="nearby-button"><i class="fa fa-th-list"><h4>Menu</h4></i></li>
            </ul>
            {{#if currentUserOffline}}
                <div class="offline">
                    <h4>you are currently offline</h4>
                </div>
            {{/if}}
        </section>
    {{/unless}}
</template>
