<template name="nav">
        <div class="nav-container">
            <ul class="nav">
                    <li class="back-button"><h4><i class="large mdi-navigation-chevron-left"></i></h4></li>
                <!--<li class="nearby-button"><a class="brand" href="{{pathFor 'postsList'}}"><h4>Nearby</h4></a></li>-->

                {{#if postPage}}
                    <li class="nearby-button"><a class="brand" href="#"><h4>Details</h4></a></li>
                    <li class="map-button"><a href="{{pathFor 'projectsMap'}}"><h4>Map</h4></a></li>
                {{/if}}
                {{#if mapPage}}
                    <li class="map-button"><a href="{{pathFor 'projectsMap'}}"><h4>Map</h4></a></li>
                {{/if}}
                {{#if postList}}
                    <li class="nearby-button"><a class="brand" href="{{pathFor 'postsList'}}"><h4>Nearby</h4></a></li>

                    <!--<li class="nearby-button"><a class="brand" href="#"><h4><i class="large mdi-maps-navigation"></i></h4></a></li>-->
                    <!--<li class="nearby-button"><a class="brand" href="#"><h4>Nearby</h4></a></li>-->
                    <li class="map-button"><a href="{{pathFor 'projectsMap'}}"><h4>Map</h4></a></li>
                {{/if}}
                {{#if postPageMap}}
                    <li class="nearby-button"><a class="brand" href="#"><h4>Route</h4></a></li>
                    <li class="map-button"><a href="{{pathFor 'projectsMap'}}"><h4>Map</h4></a></li>
                {{/if}}
                {{#if favoritesPage}}
                    <li class="map-button"><a href="{{pathFor 'projectsMap'}}"><h4>Map</h4></a></li>
                {{/if}}

                <!--{{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">New</a></li>{{/if}}-->
            </ul>
        </div>
</template>
