.loading-container{    position: relative;  bottom: 50px; background-image: url('images/launchscreen.png');}
button.loadbutton{   float: right;  width: 100%;  background: #65D500;  border: none;  height: 50px;  color: white;  z-index: 3;  position: relative;}
