<template name="intro">
    <div class="login">
      <img class="login__splash" src="/images/launchscreen.png">
      <div class="login__input">
          <div class="login__withinput">
              {{> loginButtons}}
          </div>
          <div class="login__withoutinput">
            {{#if currentUser}}
             <a class="login-event" href="/nearby">
                  <button class="button__to-list">
                      <span>continue</span>
                  </button>
              </a>
            {{/if}}
          </div>
      </div>
    </div>
</template>