<head>
    <title>MIMOA</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
</head>
<template name="intro">
    <div class="login">
      <img class="login__splash" src="/images/launchscreen.png">
      <div class="login__input">
          <div class="login__withinput">
              {{> loginButtons}}
          </div>
          <div class="login__withoutinput">
            {{#if currentUser}}
             <a href="/nearby">
                  <button class="button__to-list">
                      <span>continue</span>
                  </button>
              </a>
            {{/if}}
          </div>
      </div>
    </div>
</template>