.login{
  width:100%;  float:left;
}
.login__splash{
  position: relative;  width: 100%;  top: -113px;
}
.login__input{
  position:relative;  z-index: 2;  top: -94px;
}
.login__withinput{
  position: absolute;  top: -160px;  width: 100%;  text-align: center;  height: 31px;  background: white;
}
.login__withoutinput{
  bottom: 0;  position: fixed;  height: 50px;  width: 100%; background: #65D500;
}
#login-dropdown-list {
  position: relative;  top: -157px;  margin: auto;  width: 100%;  float: left; background:white;
}
.login__remove-link{
  display:none;
}
a#login-sign-in-link {
  width: 100%;  display: block;  height: 50px;
}