<template name="postItem">
    <a class="post-item" href="{{pathFor 'postPage'}}">
        <div class="post" data-distance="{{currentDistance}}" >
            <div class="post-content">
                <img class="post-content__thumb-image" src="{{thumb}}">
                <div class="post-content__text">
                    <h3>{{title}}</h3>
                    <p>
                        Added by: {{freetext2.[0]._}}
                    </p>
                    <p id="distance" class="distance">
                      Distance: {{currentDistance}} meters
                    </p>
                 </div>
            </div>
        </div>
    </a>
</template>
