<template name="postItemPage">
        <div class="post-content">
            {{>carousel}}
            <div class="post-content__text--full-width">
                <ul class="post-content__title-list">
                    <li class="post-content__title-item"><a href="#"><h4>Photos</h4></a></li>
                    <li class="post-content__title-item"><a href="{{pathFor 'postPageMap'}}"><h4>Route</h4></a></li>
                    <li class="post-content__title-item"><a href="{{website}}" target="_blank"><h4>Website</h4></a></li>
                </ul>
                <a href="{{pathFor 'postPage'}}" target="_blank"><h5>{{title}}</h5></a>
                <div class="post-content__block-item">
                    <ul class="post-content__sub-list">
                        <li class="post-content__sub-item">
                            <p>Location:</p>
                            <p>{{city}}</p>
                        </li>
                        <li class="post-content__sub-item">
                            <p>Function:</p>
                            <p>{{freetext5.[0]._}}</p>
                        </li>
                        <li class="post-content__sub-item">
                            <p>Contributed by:</p>
                            <p>{{freetext2.[0]._}}</p>
                        </li>
                    </ul>
                    <p>{{summary}}</p>
                </div>
                <div class="post-content__block-item">
                    <ul class="post-content__sub-list">
                        <li class="post-content__sub-item">
                            <p>address: {{address}}</p>
                        </li>
                        <li class="post-content__sub-item">
                            <p>opening hours:</p>
                        </li>
                        <li class="post-content__sub-item">
                            <p>website: <a href="{{website}}" target="_blank">{{website}}</a></p>
                        </li>
                        <li>
                            <p>facts:</p>
                            <ul class="post-content__sub-list">
                                <li class="post-content__sub-item"><p>completion: {{freetext3.[0]._}}</p></li>
                                <li class="post-content__sub-item"><p>architect: {{freetext8.[0]._}}</p></li>
                                <li class="post-content__sub-item"><p>client: {{freetext4.[0]._}}</p></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</template>
