.nav{   height: 59px; max-width: 500px; position: fixed; /*left:0;*/  width: 100%;  display: inline-block;  z-index: 6;  padding: 0; margin:auto; top:0; background: #65D500;  border-radius: 0;  border: 0;  box-shadow: 1px 1px 7px grey;}
.nav li { height: 60px; position: relative;  display: inline-block;  width: 32%;  text-align: center;  color: white;  top: 3px; }
.nav a{  color: white; }
i.large.mdi-navigation-chevron-left {  position: relative;  top:4px;  font-size: 25px;}
i.large.mdi-maps-navigation{  transform: rotate(40deg); }
.nav>li>a{ padding:0; }