.curator{
  float:left;  width: 100%;  position:relative;  top:40px;  margin:10px;
}
.curator__thumb{
  float:left;  height: 75px;  width:30%;  border-radius:5px;  background-color:#65D500;
}
.curator__info {
  width: 50%;  height: 75px;  float: left;  padding: 5px 15px;color:black;
}
.curator__follow-button {
  float: left;  width: 20%;  margin: 27px 0;
}