<template name="myProfile">
    {{>nav}}
    <section class="profile animated fadeInUp">
        <div class="profile__thumb"><div class="profile__thumb-image"><i class="fa fa-user curator-fa"></i></div></div>
        <!--<article class="profile-image">-->
                <!--<div class="profile-image__container">-->
                    <!--<div class="profile-image__thumb">-->
                        <!--&lt;!&ndash;<img src="/images/jesse.jpeg" alt="user profile picture" width="100" height="100"/>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
        <!--</article>-->
        <article>
            <h3 class="profile-username">{{currentUser.username}}</h3>
        </article>
        <!--<article class="profile-nav">-->
                <!--<div class="profile-nav__item"><h3>profile</h3></div>-->
                <!--<div class="profile-nav__item"><h3>list</h3></div>-->
                <!--<div class="profile-nav__item"><h3>following</h3></div>-->
        <!--</article>-->
        <article class="post-list--profile">
            <div class="post-bar">
                <!--<a href="collection/{{currentUser}}/map">-->
                <!--<i class="fa fa-map calculate-route"></i>-->
                <!--<div class="create-new__list"><button>add new list</button><button class="offline-button"><span>offline-button</span></button></div>-->
                <div class="post-favorites">
                    <div class="icon-container">
                        <i class="fa fa-diamond"></i>
                    </div>
                    <div class="banner-text">
                        <h3>favorites</h3>
                        <p>these project are offline available</p>
                    </div>
                </div>
                <!--<a href="{{pathFor 'projectsMap'}}">-->
                <!--<li class="map-button"><i class="fa fa-compass"><h4>Map</h4></i></li>-->
                <!--</a>-->
                <!--</a>-->
            </div>
            <div class="post-favorites__listing-calculate">
                <div class="icon-container">
                    <i class="fa fa-compass"></i>
                </div>
                <div class="banner-text">
                    <h3>calculate route</h3>
                    <p>This creates a route along these projects in order (max 11 projecten)</p>
                </div>
            </div>
            <!--{{#sortable items=foo sortField="order"}}-->
                {{#each offline}}
                <div class="post--list">
                    <div class="post-content--list">
                        <!--<a class="post-item" href="favorites/posts/{{project.project.id}}">-->
                        <a class="post-item" href="offline/favorites/{{userID}}/posts/{{project.id}}">
                            <div class="post-content__thumb-image--list">
                                <img class="post-list__image-container" src="{{project.image1}}" >
                            </div>
                            <div class="post-content__text--list">
                                <h4>{{project.title}}</h4>
                                <p>
                                    {{project.freetext8.[0]._}}<br>
                                    {{project.country}}
                                    {{project.city}}
                                </p>
                            </div>
                        </a>
                        <div class="minus-icon"><i class="fa fa-minus"></i></div>
                        <!--<div class="tooltip-post">-->
                            <!--<i class="fa fa-minus"></i><span>remove</span>-->
                            <!--<i class="fa fa-arrows-v"></i><span>move</span>-->
                        <!--</div>-->
                    </div>
                </div>
            {{/each}}
            <!--{{/sortable}}-->
            {{>myFavorites}}
        </article>
    </section>
</template>
