<template name="postItem">
    <a class="post-item" href="{{pathFor 'postPage'}}">
        <div class="post" data-distance="{{currentDistance}}">
            <div class="post-content">
                <img class="post-content__thumb-image" src="{{thumb}}">
                <div class="post-content__text">
                    <h3>{{title}}</h3>
                    <p class="author">
                        {{freetext2.[0]._}}
                    </p>
                   <div class="rating-container">
                       <div class="rating-image">
                           <div class="rating-{{freeint1.[0]._}}"></div>
                       </div>
                   </div>
                    <p class="distance">
                      {{currentDistance order}} m
                    </p>
                 </div>
            </div>
        </div>
    </a>
</template>
